html,
body,
#root {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

.App {
  height: 100%;
  width: 80%;
  margin: 0 auto;
  padding: 0;
  border: 0;
  top: 0;
}

.input-field {
  margin-top: 0;
  padding-top: 10px;
}

.name-list-container {
  height: 80%;
  padding: 0;
  margin: 0 auto;
  border: 0;
}

.name-list-container .col {
  height: 100%;
  padding: 0;
  margin: 0;
}

.collection {
  height: 100%;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}

.highlighted {
  background-color: yellow !important;
}